:root {
  /* Colores */
  --primario: #9c27b0;
  --primarioOscuro: #89119d;
  --secundario: #ffce00;
  --secundarioOscuro: rgb(233, 287, 2);

  /* Fuentes */
  --fuentePrincipal: "Staatliches", sans-serif;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Globales */
body {
  background-color: var(--primario);
  font-size: 1.6rem;
  line-height: 1.5;
}

/* html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
} */ /* Esto hace que el footer siempre este abajo */

p {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* @media (max-width: 768px) {
  img {
    width: 200rem;
  }
} */
.contenedor {
  width: min(120rem, 95%);
  margin: 0 auto;
}

h1,
h2,
h3 {
  text-align: center;
  color: var(--secundario);
  font-family: var(--fuentePrincipal);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.8rem;
}

header {
  display: flex;
  justify-content: center;
}

/* Header */

.header {
  display: flex;
  justify-content: center;
}

.header__logo {
  margin: 3rem 0;
}

/* Fotter */

footer {
  background-color: var(--primarioOscuro);
  padding: 1rem 0;
  margin-top: 2rem;
}

.footer__texto {
  font-family: var(--fuentePrincipal);
  text-align: center;
  font-size: 2.2rem;
}

/* Navegacion */

.navegacion {
  background-color: var(--primarioOscuro);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.navegacion__enlace {
  font-family: var(--fuentePrincipal);
  color: white;
  font-size: 3rem;
}

/* .navegacion__enlace:last-of-type {
  margin-right: 0;
} */ /* quitar margen al ultimo elemento */

.navegacion__enlace--activo,
.navegacion__enlace:hover {
  color: var(--secundario);
}

/* Grid */

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(18rem, 1fr));
  gap: 2rem;
}

/* Productos */

.producto {
  background-color: var(--primarioOscuro);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.producto__imagen {
}

.producto__nombre {
  font-size: 4rem;
}

.producto__precio {
  font-size: 2.8rem;
  color: var(--secundario);
}

.producto__nombre,
.producto__precio {
  font-family: var(--fuentePrincipal);
  margin: 1rem 0;
  text-align: center;
  line-height: 1.2;
}

.grafico {
  min-height: 30rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.grafico--camisas {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  background-image: url("../img/grafico1.jpg");
  
}

.grafico--node {
  background-image: url("../img/grafico2.jpg");
  grid-column: 1 / 3;
  grid-row: 8 / 9;
}

.nosotros {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.nosotros__imagen {
  display: flex;
}

.nosotros__imagen img {
  width: 100%;
}
/* Bloques */

.bloques {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

/* .bloque {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.bloque__titulo {
  margin: 0;
}

.bloque__imagen {
  width: 100%;
}

.camisa__imagen {
  width: 100%;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formulario__campo {
  /* border: var(--primarioOscuro);
  border-width: 2rem;
  border-style: solid; */

  border: 1rem solid var(--primarioOscuro);
  background-color: transparent;
  color: white;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
  appearance: none;
}

.formulario__submit {
  background-color: var(--secundario);
  border: none;
  font-size: 2rem;
  font-family: var(--fuentePrincipal);
  padding: 2rem;
  /* transition: background-color 3s ease; */
  /* transition: height 3s ease; */
  transition: transform .3s ease;
  margin-top: 1rem;
}

.formulario__submit:hover {
  /* height: 12rem; */
  /* background-color: var(--secundarioOscuro); */
  cursor: pointer;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .bloques {
    grid-template-columns: repeat(2, 1fr);
  }

  .nosotros {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
  }

  .nosotros__imagen {
    grid-column: 1 / 2;
  }
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .grafico--node {
    grid-row: 5 / 6;
    grid-column: 2 / 4;
  }  

  .camisa {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .formulario__submit {
    grid-column: 1 / 3;
    margin-top: 0;
  }
}
