html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

aside h2 {
  margin-top: 0;
}

p {
  font-size: 2rem;
}

.contenedor {
  /* max-width: 120rem; */
  width: 95%;
  margin: 0 auto;
}

.entrada-blog a {
  display: inline-block;
  background-color: #2196f3;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

aside {
  background-color: #d6d6d6;
  padding: 2rem;
  margin-top: 3rem;
  border-radius: 5rem;
}

/** CODIGO AQUI **/

@media (min-width: 768px) {
  .contenedor {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: repeat(2, auto);
    column-gap: 5rem;
    grid-auto-flow: column;
  }

  aside {
    grid-column: 1 / 2;
  }

  article {
    grid-row: 1 / 3;
  }
}

@media (min-width: 1250px) {
  .contenedor {
    column-gap: 10rem;
  }
}
